/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #030000; /* Blue gamma color */
}

h2 {
    text-align: left;
    color: #050000;
}

h3 {
    color: #070000; /* Pink gamma color */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex; /* Use flexbox for the list items */
    justify-content: space-between; /* Align items with space between */
    margin: 10px 0;
}

.subgroup {
    flex: 1;
    margin: 20px;
    padding: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.subgroup li {
    margin: 5px 0;
}

.button-delete {
    display: inline;
    margin: 10px 5px;
}

.button-delete button {
    padding: 2px 8px;
    background-color: #070000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button-delete button:hover {
    background-color: #d20505;
}


.button-form button {
    padding: 8px 16px;
    background-color: #070000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000200; /* Green gamma color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-form input[type="submit"]:hover {
    background-color: #836565; /* Slightly darker green gamma color */
}

.button-form input[type="submit"]:focus {
    outline: none;
}

/* Additional styles for the form elements */
form {
    margin: 10px 0;
}

form p {
    margin: 5px 0;
}

/* Full Stat button style */
.button-form:last-child {
    margin-top: 30px;
}

/* Average Mark button style */
.button-form:nth-last-child(2) {
    margin-top: 15px;
}

/* Create Pair button style */
.button-form:nth-last-child(3) {
    margin-top: 15px;
}

/* Apply styles to the deleted-users list */
/* Rest of your existing CSS rules */

/* Specific selector for deleted-users list */
body .deleted-users {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    width: 200px; /* You can adjust the width as needed */
}

body .deleted-users li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

/* Position the list on the left side of the screen */
body .deleted-users {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Adjust as needed */
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}


